:root {
  --color-white: #ffffff;
  --color-dark: #1c1c1c;
  --color-light: #dcdcdc;
  --color-light-gray: #a9a9a9;
  --color-gray: #646464;
  --color-dark-gray: #383838;
  --color-green: #3dc662;
  --color-yellow: #ffc312;

  --primary-color: #009fdf;
  --primary-color-hover: #008fc8;
  --secondary-color: #105797;
  --tertiary-color: var(--color-white);
  --success-color: var(--color-green);
  --danger-color: #ea4336;
  --danger-border-color: #b6281e;

  --bg-color: var(--color-white);
  --body-color: var(--color-dark-gray);
  --glass-pane-color: rgba(255,255,255,0.9);

  --tile-color: var(--color-dark);
  --tile-border-color: var(--color-dark-gray);

  --keyboard-key-color: var(--body-color);
  --keyboard-key-background-color: var(--color-white);
  --keyboard-background-color: var(--color-light);

  --primary-button-color: var(--color-white);
  --primary-button-background-color: var(--primary-color);
  --primary-button-hover-color: var(--primary-color-hover);
  --secondary-button-color: var(--color-dark-gray);
  --secondary-button-background-color: var(--color-light);  
  --secondary-button-hover-color: var(--color-light-gray);

  --color-neutral: var(--color-dark);
  --bg-color-neutral: var(--color-white);
  --color-absent: var(--color-light);
  --bg-color-absent: var(--color-gray);
  --color-correct: var(--color-white);
  --bg-color-correct: var(--color-green);
  --color-present: var(--color-white);
  --bg-color-present: var(--color-yellow);

  --modal-text-color: var(--body-color);
  --modal-link-color: var(--primary-color); 
  --modal-background-color: var(--tertiary-color);

  --stats-background-color: rgba(0, 0, 0, 0.1);

  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.darkMode {
  --body-color: var(--color-light);
  --bg-color: #111111;
  --glass-pane-color: rgba(255,255,255,0.4);
  --modal-background-color: #111111;
  --secondary-button-color: var(--color-light);
  --secondary-button-background-color: var(--color-dark-gray);
  --secondary-button-hover-color: #999999;
  --tile-color: var(--color-light);
  --tile-border-color: #999999;
  --keyboard-background-color: #1e1e1e;
  --keyboard-key-color: var(--color-white);
  --keyboard-key-background-color: #999999;
  --stats-background-color: rgba(255, 255, 255, 0.1);
}

.high-contrast {
  --bg-color-correct: #FF4932;
  --bg-color-present: #98b7d1;
}

*, *::before, *::after {
  box-sizing: border-box;

  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  max-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  /* padding:
    env(safe-area-inset-top, 20px)
    env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px)
    env(safe-area-inset-left, 20px); */
}

.game-container {
  display: block;
  width: 100%;
  height: 100svh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: manipulation;

  font-family: var(--font-family-primary);
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: background-color 1.3s;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  min-width: 1rem;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: var(--body-color);
  margin: 0 0 1rem 0;
}

p.disabled {
  opacity: 0.6;
}

.privacy p {
  font-size: 0.875rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin: 0;
  padding: 0.75rem;
  border: 0.25rem solid;
  border-color: rgb(255 255 255 / 0%);
  background-clip: padding-box;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: border-color 0.2s linear;
  touch-action: manipulation;
}

a, .linklike-button {
  color: var(--primary-color);
  text-decoration: none;
}

.link-icon svg{
  display: inline;
  width: 0.7rem;
  height: 0.7rem;
  margin-bottom: 0.2rem;
  fill: var(--primary-color);
}

.primary-button {
  color: var(--primary-button-color);
  background-color: var(--primary-button-background-color);
}

.secondary-button {
  color: var(--secondary-button-color);
  background-color: var(--secondary-button-background-color);
}

.primary-button.toggled {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0 0);
}

.primary-button:disabled,
.secondary-button:disabled {
  opacity: 0.6;
  cursor: default;
}

.linklike-button:disabled {
  cursor: default;
}

@media (hover:hover) {
  .primary-button:not(:disabled):hover {
    border-color: var(--primary-button-hover-color);
  }
  .secondary-button:not(:disabled):hover {
    border-color: var(--secondary-button-hover-color);
  }
  a:hover, .linklike-button:not(:disabled):hover {
    color: var(--primary-color-hover);
  }
  .danger-button:not(:disabled):hover {
    border-color: var(--danger-border-color);
  }
  .link-icon:hover {
    fill: var(--primary-color-hover)
  }
}

.danger {
  color: var(--danger-color);
}

.danger-button {
  background-color: var(--danger-color);
}

.suggestion-button {
  margin-left: 0.5ch;
  text-decoration: underline;
}

.spacer {
  margin-right: 0.5ch;
}

/* Title bar */
.title-bar-wrapper {
  width: 100%;
  max-width: 1120px;
}

.title-bar {
  --padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.title-bar h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.title-bar .slot {
  display: flex;
  flex: 1;
}

.title-bar .left {
  justify-content: flex-start;
  padding-left: var(--padding);
}

.title-bar .right {
  justify-content: flex-end;
  padding-right: var(--padding);
}

.button .label {
  margin-inline-start: 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1rem;
  min-width: 1rem;
}

.button svg {
  width: 1rem;
  height: 1rem;
}

.primary-button svg {
  stroke: var(--primary-button-color);
}

.secondary-button svg {
  fill: var(--secondary-button-color);
}

/* Hint */
.hint {
  margin: 0 0 8px;
  padding: 0 8px;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}

.hint-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  color: var(--body-color);
}

.show-hint {
  animation: show-hint 0.3s linear 0s forwards;
}

.hide {
  animation: hide 0.2s linear 0s forwards;
}

@keyframes show-hint {
  0% {
    opacity: 0;
  }
  80% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  } 
}

@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0;  }
}

.hint svg {
  fill: currentColor;
  width: 1rem;
  height: 1rem;
  margin-inline-end: 0.25rem;
}


/* Grid Container */
.game-grid-wrapper {
  flex: 1;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.game-grid {
  --cell-size: clamp(12px, calc((100svh - 310px) / 6.25), 18vw);

  display: grid;
  grid-template-columns: repeat(5, auto);

  gap: calc(0.05 * var(--cell-size));
  font-size: calc(0.55 * var(--cell-size));
  font-weight: bold;
}

.game-tile {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.game-tile > * {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--tile-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
  border: calc(0.03 * var(--cell-size)) solid var(--tile-border-color);
  transition: transform 0.6s ease 0s,
              opacity 0.3s ease 0s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game-tile.hide-animation > * {
  transition: transform 0s ease 0s;
}

.game-tile > *[data-visible="false"] {
  transform: rotateX(180deg);
}

.game-tile > *[data-status="empty"] {
  opacity: 0.4;
} 

.game-tile > *[data-status="tbd"] {
  opacity: 1;
}

.game-tile > *[data-status="absent"] {
  color: var(--color-absent);
  background-color: var(--bg-color-absent);
  border-color: var(--bg-color-absent);
}

.game-tile > *[data-status="present"] {
  color: var(--color-present);
  background-color: var(--bg-color-present);
  border-color: var(--bg-color-present);
}

.game-tile > *[data-status="correct"] {
  color: var(--color-correct);
  background-color: var(--bg-color-correct);
  border-color: var(--bg-color-correct);
}


/* Keyboard Container */
.keyboard-wrapper {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--keyboard-background-color);
}

.keyboard {
  --key-size: calc(100vw / 10 - 0.55rem);

  background-color: var(--keyboard-background-color);
  height: calc(3 * 60.66666667px);
  display: flex;
  flex-direction: column;
}

.keyboard-row {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  height: 50px;
}

.keyboard-row:first-child {
  margin-top: 0.5rem;
}

.keyboard-row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.keyboard-key {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.5rem;
  max-width: 70px;
  width: var(--key-size);
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.keyboard-key:first-child {
  margin-left: 0.5rem;
}

.keyboard-key-large {
  font-size: 1.75em;
}

.keyboard-key-bg {
  display: block;
  position: absolute;
  background-color: var(--keyboard-key-background-color);
  z-index: 4;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  transform-origin: bottom;
}

.keyboard-key-content {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--keyboard-key-color);
  transition: opacity 0.3s ease 0s;
}

.keyboard-key-enter {
  width: 18vw;
  max-width: 120px;
}

.keyboard-key-large.keyboard-key-enter {
  font-size: 1.17em;
}

.keyboard-key svg {
  --svg: clamp(5px, 5vw, 20px);
  width: var(--svg);
  height: var(--svg);
  fill: var(--keyboard-key-color);
}

.keyboard-key:disabled .keyboard-key-content {
  opacity: 0.6;
}

.keyboard-key-bg[data-status="correct"] {
  background-color: var(--bg-color-correct);
}
.keyboard-key-content[data-status="correct"] {
  color: var(--color-correct);
}

.keyboard-key-bg[data-status="absent"] {
  background-color: var(--bg-color-absent);
}
.keyboard-key-content[data-status="absent"] {
  color: var(--color-absent);
}

.keyboard-key-bg[data-status="present"] {
  background-color: var(--bg-color-present);
}
.keyboard-key-content[data-status="present"] {
  color: var(--color-present);
}

/* Play Again Button Container */
.play-again-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
}


/* Modal Container */
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 5s linear;
}

.modal-backdrop {
  z-index: 6;
  background-color: var(--glass-pane-color);
  opacity: 0;
}

.show-backdrop {
  animation: show-backdrop 0.2s linear forwards;
}

@keyframes show-backdrop {
  100% {
    opacity: 1;
  }
}

.cover-parent {
  position: absolute;
  inset: 0;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: inherit;
  min-width: inherit;
  padding: 2rem 2rem 1rem;
  z-index: 7;
  overflow: hidden;
  color: var(--modal-text-color);
  background-color: var(--modal-background-color);
}

.show-modal {
  animation: show-modal 0.3s ease-out forwards;
}

.hide-modal {
  animation: hide-modal 0.3s ease-out forwards;
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide-modal {
  100% {
    opacity: 0;
    transform: translateY(3rem);
  }
}

.modal h2 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.modal h3 {
  font-size: 1rem;
}

.modal h4 {
  font-size: 0.875rem;
}

.modal .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 12px;
  width: 46px;
  height: 46px;
  z-index: 1;
}

.content-modal {
  max-width: 300px;
  margin-inline: auto;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-x: contain;
}

.content-modal-panel-wrapper {
  position: relative;
  display: inline-flex;
  transition: transform 0.42s;
}

.content-modal-panel {
  /* width: calc(100vw - (4 * 16px)); */
  max-width: 300px;
  display: block;
}

.content-modal h2 {
  margin-top: 1rem;
}

.content-modal-panel .primary-button {
  margin-inline: auto;
}

.button.outline:not(:disabled):hover {
  border-color: var(--secondary-button-hover-color);
}

.button.outline svg {
  fill: var(--body-color);
}

.prompt {
  width: 580px;
  max-width: 100%;
  overflow-y: auto;
}

.prompt-panel {
  margin-top: 1rem;
}

/* Info */
.square {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}

.square[data-status="correct"] {
  background-color: var(--bg-color-correct);
}

.square[data-status="present"] {
  background-color: var(--bg-color-present);
}

.square[data-status="absent"] {
  background-color: var(--bg-color-absent);
}

.info-paragraph {
  display: flex;
  gap: 0.4rem;
}

.info-paragraph:not(:nth-child(5)) {
  margin-bottom: 0.5rem;
}

.info .prompt-button-container >* {
  margin-bottom: 1rem;
}

/* Settings */
.settings {
  padding-bottom: 1rem;
  overflow-y: auto;
}

.full-width {
  width: 100%;
}

.settings-menu-button {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.settings-title {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

/* Stats */
.correct-word {
  font-weight: bold;
  text-transform: uppercase;
}

.stats {
  overflow: hidden;
}

.stats h3 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem;
}

.stats p {
  margin: 0;
}

.stats-table,
.stats-distribution {
  width: 100%;
  border-radius: 8px;
  padding: 4px;
  background: var(--stats-background-color);
}

.stats-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stats-table-item {
  padding: 0 0.35rem;
  display: grid;
  text-align: center;
  justify-items: center;
  font-size: 0.875rem;
}

.stats-table-item span {
  display: block;
  font-size: 1.15rem;
  font-weight: bold;
}

.stats-distribution {
  display: grid;
  gap: 0.2rem;
}

.stats-distribution-row {
  display: grid;
  grid-template-columns: 15px 1fr;
  gap: 0.5rem;
}

.index-column {
  text-align: center;
}

.bar-column {
  width: 100%;
}

.bar {
  display: inline-block;
  min-width: fit-content;
  padding: 0 0.25rem;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.bar.current {
  background-color: var(--color-green);
}

.prompt-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px; 
  margin-top: 1.5rem;
}

.prompt-button {
  font-size: 0.875rem;
}

.modal-footer-text {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.modal-footer-text.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.modal-footer-text p {
  margin: 0;
}

.modal-footer-text.succes p {
  color: var(--success-color);
}

.modal-footer-text.succes svg {
  stroke: var(--success-color);
  width: 1.5rem;
}

.prompt-button-container .prompt-button {
  margin-inline: 0;
  margin-bottom: 0;
}

/* RESET */
.reset-warning {
  display: flex;
  align-items: center;
}

.reset-warning p {
  margin: 0;
  margin-inline-start: 0.5rem;
}

.reset-warning svg {
  stroke: var(--danger-color);
  fill: var(--danger-color);
  width: 1.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 295px) {
  .hint {
    line-height: 40px;
  }
}

@media (max-width: 340px) {
  .keyboard {
    --key-size: calc(100vw / 10 - 0.53rem);
    --gap: 2.25vw;
  }

  .keyboard-key-content {
    font-size: min(1rem, 5vw);
  }
}

@media (max-width: 480px) {
  .title-bar .button .label {
    display: none;
  }

  .hint-message {
    font-size: 12px;
  }

  .keyboard-key:active:not(.keyboard-key-enter) {
    font-size: 1.8rem;
  }

  .keyboard-key:active .keyboard-key-bg {
    height: 108px;
    top: -58px;
    box-shadow: 0 1px 5px 0.5px rgb(0 0 0 / 20%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0 0)
  }

  .keyboard-key:active .keyboard-key-content {
    top: -58px;
  }
 
  .modal {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 362px) {
  .prompt-button-container {
    flex-direction: row;
  }
}

@media (min-width: 481px) {
  .title-bar {
    --padding: 1rem;
  }

  .title-bar h1 {
    font-size: 2rem;
  }

  .game-grid {
    --cell-size: clamp(12px, calc((100svh - 340px) / 6.25), 80px);
  }

  .keyboard {
    height: calc(3 * 70.66666667px);
  }

  .keyboard-row {
    height: 60px;
  }

  .keyboard-key-large {
    font-size: 2.25em;
  }

  .keyboard-key-large.keyboard-key-enter {
    font-size: 1.75em;
  }

  .keyboard-key svg {
    --svg: 30px;
  }

  .keyboard-key:active .keyboard-key-bg {
    opacity: 0.6;
  }

  .stats h3 {
    margin-top: 2rem;
  }

  .prompt-button {
    font-size: 1rem;
  }

  .modal {
    max-height: calc(100vh - 2 * 32px);
    max-width: calc(100vw - 2 * 32px);
    border-radius: 1rem;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  }

  .modal h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .content-modal {
    max-width: 400px;
  }

  .content-modal-panel {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .title-bar {
    margin: 1rem auto 2rem auto;
  }

  .game-grid {
    --cell-size: clamp(12px, calc((100svh - 370px) / 6.25), 80px);
  }
}

@media (min-width: 787px) {
  .keyboard {
    --key-size: 70px;
  }
}

@media (min-width: 1020px) {
  .button {
    padding: 1rem;
  }

  .game-grid {
    --cell-size: clamp(12px, calc((100svh - 380px) / 6.25), 80px);
  }

  .modal {
    max-width: 600px;
    max-height: calc(100vh - 32px);
  }
  
  .content-modal,
  .content-modal-panel {
    max-width: fit-content;
    width: 520px;
  }
}
