:root {
  --color-white: #ffffff;
  --color-dark: #111111;
  --color-light: #dcdcdc;
  --color-light-gray: #a9a9a9;
  --color-gray: #646464;
  --color-dark-gray: #383838;
  --color-green: #3dc662;
  --color-yellow: #ffc312;

  --bg-color: var(--color-white);
  --body-color: var(--color-dark-gray);

  --keyboard-background-color: var(--color-light);
  --secondary-button-color: var(--color-dark-gray);
  --secondary-button-background-color: var(--color-light);  
  --secondary-button-hover-color: var(--color-light-gray);

  --color-neutral: var(--color-dark);
  --bg-color-neutral: var(--color-white);
  --color-absent: var(--color-light);
  --bg-color-absent: var(--color-gray);
  --color-correct: var(--color-white);
  --bg-color-correct: var(--color-green);
  --color-present: var(--color-white);
  --bg-color-present: var(--color-yellow);

  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;

  -webkit-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;

  font-family: var(--font-family-primary);
  background-color: var(--bg-color);
  transition: opacity ease-in 0.2s;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  touch-action: manipulation;

  background-color: var(--bg-color);
  color: var(--body-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--color-gray);
    --body-color: var(--color-white);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin: 0;
  padding: 1rem;
  border: 0.25rem solid;
  border-color: rgb(255 255 255 / 0%);
  background-clip: padding-box;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: border-color 0.2s linear;
  touch-action: manipulation;
}

.secondary-button {
  color: var(--secondary-button-color);
  background-color: var(--secondary-button-background-color);
}

.secondary-button:not(:disabled):hover,
.secondary-button:not(:disabled):focus {
  border-color: var(--secondary-button-hover-color);
}

@media (width > 768px) {
  .button {
    padding: 1rem;
  }
}

/* Menu */
.menu-wrapper {
  width: 100%;
  max-width: 1120px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.title-bar .slot {
  display: flex;
  flex: 1;
}

.title-bar .left {
  justify-content: flex-start;
  padding-left: 1rem;
}

.title-bar .right {
  justify-content: flex-end;
  padding-right: 1rem;
}

.button .label {
  margin-inline-start: 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1rem;
  min-width: 1rem;
}

.button svg {
  width: 1rem;
  height: 1rem;
}
.secondary-button svg {
  fill: var(--secondary-button-color);
}

@media (width > 768px) {
  .title-bar {
    margin: 1rem auto 2rem auto;
  }
}

/* Hint */
.hint {
  margin: 0 0 8px;
  padding: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  flex-shrink: 0;
}

.hint-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 40px;
  color: var(--body-color);
  opacity: 0;
  animation: hint-show 0.3s ease-in-out 0s forwards,
             hint-hide 0.2s linear 5s forwards;
}

@keyframes hint-show {
  80% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  } 
}

@keyframes hint-hide {
  100% { opacity: 0;  }
}

.hint svg {
  fill: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  margin-inline-end: 0.25rem;
}


/* Grid Container */
.game-grid-wrapper {
  flex: 1;
  margin-inline: auto;
  padding: 0 0.5rem;
  width: max-content;
  max-width: 600px;
}

.game-grid {
  --cell-size: 3.4rem;
  --gap: calc(0.05 * var(--cell-size));
  
  display: grid;
  gap: var(--gap);
  font-size: calc(0.55 * var(--cell-size));
  font-weight: bold;
}

.game-grid-row {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--gap);
}

.game-tile {
  --delay: 300ms;
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.game-tile > * {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-neutral);
  background-color: var(--bg-color-neutral);
  text-transform: uppercase;
  border: calc(0.03 * var(--cell-size)) solid var(--color-dark-gray);
  transition: transform 0.6s ease 0s,
              opacity 0.3s ease 0s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game-tile > *[data-visible="false"] {
  /* visibility: hidden; */
  transform: rotateX(180deg);
}

.game-tile > *[data-status="empty"] {
  opacity: 0.4;
} 

.game-tile > *[data-status="tbd"] {
  opacity: 1;
}

.game-tile > *[data-status="absent"] {
  color: var(--color-absent);
  background-color: var(--bg-color-absent);
  border-color: var(--bg-color-absent);
}

.game-tile > *[data-status="present"] {
  color: var(--color-present);
  background-color: var(--bg-color-present);
  border-color: var(--bg-color-present);
}

.game-tile > *[data-status="correct"] {
  color: var(--color-correct);
  background-color: var(--bg-color-correct);
  border-color: var(--bg-color-correct);
}


/* Keyboard Container */
.keyboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: var(--keyboard-background-color);
  padding-bottom: 0.5rem;
}

.keyboard {
  --key-size: 3.5rem;
  --gap: 0.5rem;

  display: flex;
  gap: var(--gap);
  flex: 0 0 auto;
  justify-content: center;
  flex-flow: row wrap; 
  width: calc(10 * var(--key-size) + 9 * var(--gap)); 
  background-color: var(--keyboard-background-color);
  margin: 0.5rem;
  height: calc(3 * var(--key-size)); 
}

.keyboard-key {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--key-size);
  max-width: 70px;
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  text-transform: uppercase;
  touch-action: manipulation;
}

.keyboard-key-bg {
  display: block;
  position: absolute;
  background-color: var(--bg-color-neutral);
  z-index: 4;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  transform-origin: bottom;
}

.keyboard-key-content {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark-gray);
  transition: opacity 0.3s ease 0s;
}

.keyboard-key-enter {
  max-width: 120px;
  width: 175px;
}

.keyboard-key:disabled .keyboard-key-content {
  opacity: 0.6;
}

.keyboard-key-bg[data-status="correct"] {
  background-color: var(--bg-color-correct);
}
.keyboard-key-content[data-status="correct"] {
  color: var(--color-correct);
}

.keyboard-key-bg[data-status="absent"] {
  background-color: var(--bg-color-absent);
}
.keyboard-key-content[data-status="absent"] {
  color: var(--color-absent);
}

.keyboard-key-bg[data-status="present"] {
  background-color: var(--bg-color-present);
}
.keyboard-key-content[data-status="present"] {
  color: var(--color-present);
}